/* default.css */
html {
  margin: 0;
  padding: 0;
  color: #222;
  padding-bottom: 10px;
}

hr {
	border: none 0;
	border-top: 1px solid #888;
}

.code .single-line-comment {}

.code .comment {}

.code .keyword {}

.code .string {}

.code .value {}

table.class-definitions {
  border-spacing: 0px 0px;
  -webkit-box-shadow: inset rgba(200, 200, 200, 0.15) 1px 1px 1px,
                      inset rgba(0, 0, 0, 0.15) -1px -1px 1px;
  -moz-box-shadow: inset rgba(200, 200, 200, 0.15) 1px 1px 1px,
                   inset rgba(0, 0, 0, 0.15) -1px -1px 1px;
  box-shadow:  inset rgba(200, 200, 200, 0.15) 1px 1px 1px,
               inset rgba(0, 0, 0, 0.15) -1px -1px 1px;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  background-color: rgba(200, 200, 200, 0.3);
  text-shadow: 0 1px 0 #FFFFFF;
  border-bottom: none;
  margin-bottom: 2em;
  min-width: 600px;
}

td.label {
  font-weight: bold;
  padding-right: 4px;
  text-align: right;
  width: 100px;
  margin: 0;
}

table.class-definitions td {
  padding: 0.5em;
  border-collapse: collapse;
}

table.class-definitions .odd td {
  border-top: 1px solid #bbb;
}

.classList {
	list-style-type: none;
	padding: 0;
	margin: 0 0 0 8px;
	font-family: arial, sans-serif;
	font-size: 1em;
	overflow: auto;
}

.classList li
{
	padding: 0;
	margin: 0 0 8px 0;
}

.summaryTable { width: 100%; }

caption, div.sectionTitle
{
	color: #;
	font-size:130%;
	text-align: left;
	padding: 2px 6px 2px 6px;
	border: 1px #7F8FB1 solid;
}

#content a {
  color: black;
  font-weight: normal;
  text-decoration: underline;
}

#content a:visited {
  font-weight: normal;
  text-decoration: underline;
}

div.sectionTitle { margin-bottom: 8px; }
.summaryTable thead { display: none; }

.summaryTable td
{
	vertical-align: top;
	padding: 4px;
	border-bottom: 1px #7F8FB1 solid;
	border-right: 1px #7F8FB1 solid;
}

/*col#summaryAttributes {}*/
.summaryTable td.attributes
{
	border-left: 1px #7F8FB1 solid;
	width: 140px;
	text-align: right;
}

.fixedFont {
	font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
}

td.attributes
{
	line-height: 15px;
	font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
	font-size: 13px;
}

.signature { 
  font-size: 12px;
	font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
}

.nameDescription {
	line-height: 15px;
}

.summaryTable td.nameDescription
{
	line-height: 15px;
	padding: 4px;
	padding-left: 4px;
}

.summaryTable { margin-bottom: 8px; }

ul.inheritsList
{
	list-style: square;
	margin-left: 20px;
	padding-left: 0;
}

.detailList {
	line-height: 15px;
}
.detailList dt { margin-left: 10px; }

.detailList .heading
{
	font-weight: bold;
	padding-bottom: 6px;
	margin-left: 0;
}

.light, td.attributes, .light a:link, .light a:visited {
	color: #777;
/*	font-style: italic; */
}

.light a {
  font-weight: normal;
  text-decoration: underline;
}

.fineprint
{
	text-align: right;
	font-size: 10px;
  padding-bottom: 10px;
}

.right {
  text-align: right;
}

.centered {
  text-align: center;
  margin: 0px auto;
}

.fill {
  width: 100%;
  display: block;
}

#content code a {
  color: #FFF;
  padding: 5px 10px;
  background: rgba(0, 0, 0, .8);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #333;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5),
                   inset 0px 0px 1px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5),
                      inset 0px 0px 1px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5),
              inset 0px 0px 1px rgba(255, 255, 255, 0.2);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.7),
               0px 1px 0px rgba(255, 255, 255, 0.3);

  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 10px;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
}

code a:active {
  -moz-box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.7),
                   inset 0px 0px 1px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.7),
                      inset 0px 0px 1px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.7),
              inset 0px 0px 1px rgba(255, 255, 255, 0.2);
}

code a.inactive {
  opacity: 0;
}

code a.active {
  opacity: 1;
}
