.doc {
  font: 12px "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
}

body.doc {
  margin: 0;
  padding: 0;
}

.doc .banner {
  padding: 5px;

  background-color: #CCC;
  background: -webkit-gradient(
    linear, left bottom, left top, color-stop(0, #BBB), color-stop(0.7, #DDD)
  );
  background: -moz-linear-gradient(
    center bottom, #BBB 0%, #DDD 70%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#BBBBBB');
  border-bottom: 1px solid #888;

  text-align: center;
  text-shadow: #EEE 0px 1px 0px;
}

.doc .banner img.handle {
  position: absolute;
  top: 5px;
  right: 3px;
  width: 7px;
  height: 15px;

  background: transparent url(../static/icn_resize-pane_vertical.png) no-repeat 0 0;
  cursor: ew-resize;
}

.doc #header {
  position: absolute;
  z-index: 5;
  top: 0;
  height: 59px;
  left: 0;
  right: 0;

  background-color: #333;
  background: -webkit-gradient(
    linear, left bottom, left top, color-stop(0, #111), color-stop(0.7, #333)
  );
  background: -moz-linear-gradient(
    center bottom, #111 0%, #333 70%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#111111');
  border-bottom: 1px solid #777;
  color: white;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.7),
               0px 1px 0px rgba(255, 255, 255, 0.3);
}

.doc #header h1 {
  padding-left: 20px;
  display: inline-block;
  zoom: 1; *display: inline; _height: 30px; /* IE Hack */
}

.doc #header h1 a {
  text-decoration: none;
  color: white;
}

.doc #header .caption {
  padding-left: 10px;
}


.doc #header #status {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.doc p {
  line-height: 1.5em !important;
  margin: 1em 0px !important;
}

.doc #header #status span {
  position: relative;
  display: inline-block;
  zoom: 1; *display: inline; _height: 30px; /* IE Hack */
  width: 8px;
  height: 8px;
  -moz-box-shadow: 0px 0px 10px #000,
                   inset rgba(0, 0, 0, 0.6) 0px 0px 2px;
  -webkit-box-shadow: 0px 0px 10px #000,
                      inset rgba(0, 0, 0, 0.6) 0px 0px 2px;
  box-shadow: 0px 0px 10px #000,
              inset rgba(0, 0, 0, 0.6) 0px 0px 2px;

  background-color: #FFF;
  -moz-border-radius: 4px;
  -webkit-border-4adius: 4px;
  border-radius: 4px;
}

.doc #header #status span.pass {
  background-color: #89DB30;
}

.doc #header #status span.fail {
  background-color: #D23737;
}

.doc #module {
  position: absolute;
  z-index: 4;
  top: 60px;
  height: 29px;
  left: 0;
  right: 0;
  padding-left: 20px;

  background-color: #666;
  background: -webkit-gradient(
    linear, left bottom, left top, color-stop(0, #444), color-stop(0.7, #666)
  );
  background: -moz-linear-gradient(
    center bottom, #444 0%, #666 70%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#444444');
  border-bottom: 1px solid #222;
  color: white;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.7),
               0px 1px 0px rgba(255, 255, 255, 0.3);
}

.doc #module h1 {
  margin: 0px;
  padding: 5px 0px 2px;
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
  zoom: 1; *display: inline; _height: 30px; /* IE Hack */
}

.doc #module .src {
  float: right;
  position: relative;
  top: 20%;
  padding-right: 20px;
}

.doc #module a {
  text-decoration: underline;
  color: white;
}

.doc #index {
  position: absolute;
  top: 90px;
  left: 0px;
  width: 225px;
  bottom: 28px;

  background-color: #DDD;
  border-right: 1px solid #888;
  padding-top: 20px;
}

.doc #index li {
  font-weight: bold;
  padding: 2px;
  margin-left: 0;
}

.doc #index ul {
	list-style: none;
  margin-left: 0;
  padding-left: 15px;
}

.doc #index a {
  color: black;
  text-decoration: none;
}

.doc #index .banner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 15px;
}

.doc #index .class-list {
  overflow: auto;
  position: absolute;
  top: 26px;
  bottom: 0;
  left: 0;
  right: 0;
}

.doc #content {
  position: absolute;
  top: 90px;
  left: 226px;
  right: 0px;
  bottom: 28px;

  overflow: auto;
  padding: 20px;
  padding-top: 0;
}

.doc #content h1 {
  border-bottom: 1px solid #999;
  font-size: 175%;
  margin-top: 1.3em !important;
}

.doc #content h2 {
  font-size: 150%;
  margin-top: 1.3em !important;
}

.doc #content h3 {
  margin-top: 1em !important;
}

.doc #content ul li {
  margin-top: .5em;
  margin-bottom: .5em;
}

.doc .fineprint {
  position: absolute;
  bottom: 0;
  height: 12px;
  left: 0;
  right: 0;

  background-color: #DDD;
  background: -webkit-gradient(
    linear, left bottom, left top, color-stop(0, #BBB), color-stop(0.7, #DDD)
  );
  background: -moz-linear-gradient(
    center bottom, #BBB 0%, #DDD 70%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#BBBBBB');
  border-top: 1px solid #888;

  text-align: right;
  text-shadow: #EEE 0px 1px 0px;

  padding-top: 5px;
  padding-right: 15px;
}

.doc code {
  display: inline;
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
  background: ghostWhite;
  border: 1px solid #DEDEDE;
  font-size: 12px;
  padding: 0px 0.2em;
}

.doc .code {
	display: block;
  position: relative;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 20px;
  margin-right: 20px;
  border-left: 4px solid #888;
}

.doc .code code {
	display: block;
	padding: 16px;
  border: 0;

  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
  word-wrap: normal;
  background-color: #222;

  color: white;
  line-height: 130%;
}

.doc .status-bar {
  padding: 5px;

  background-color: #CCC;
  background: -webkit-gradient(
    linear, left bottom, left top, color-stop(0, #BBB), color-stop(0.7, #DDD)
  );
  background: -moz-linear-gradient(
    center bottom, #BBB 0%, #DDD 70%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#BBBBBB');
  border-bottom: 1px solid #888;

  text-shadow: #EEE 0px 1px 0px;  
}

.doc .console {
	padding: 8px;
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
  word-wrap: normal;
  background-color: #222;
  color: white;
  line-height: 130%;
}

.doc #content .status-bar a {
  display: block;
  padding-left: 3px;
  text-decoration: none;
}

.doc .string {
  color: #89DB30;
}

.doc .single-line-comment { 
  color: #D23737;
}

.doc .comment {
  color: #89D300;
}

.doc .keyword { 
  color: #61EAFD;
}

.doc .value { 
  color: #C15BC6;
}
