[submodule "frameworks/rhinodom"]
	path = frameworks/rhinodom
	url = git://repo.or.cz/rhinodom.git
[submodule "frameworks/strophejs"]
	path = frameworks/strophejs
	url = git://code.stanziq.com/strophejs
[submodule "frameworks/jquery"]
	path = frameworks/jquery
	url = git://github.com/JackDanger/jquery.git
