{!
  rowClass = 'even';
  function resetRowClass() { rowClass = 'even'; };

  function nextRowClass() {
    var ret = rowClass;
    rowClass = (rowClass == 'even') ? 'odd' : 'even';
    return ret;
  };

  function highlight(block) {
    return highlightBlock(block);
  };

!}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset={+IO.encoding+}" />
		<meta name="generator" content="JsDoc Toolkit" />
		{! Link.base = "../"; /* all generated links will be relative to this */ !}
		<title>JsDoc Reference - {+data.alias+}</title>

		<style type="text/css">
			{+include("static/default.css")+}
		</style>
	</head>

	<body>
<!-- ============================== class title ============================ -->     <div id="header">
			<h1>
				{!
					var classType = "";
					
					if (data.isBuiltin()) {
						classType += "Built-In ";
					}
					
					if (data.isNamespace) {
						if (data.is('FUNCTION')) {
							classType += "Function ";
						}
						classType += "Namespace ";
					}
					else {
						classType += "Class ";
					}
				!}
				{+classType+}{+data.alias+}
			</h1>
      </div>
      <table class="class-definitions">
				<if test="data.augments.length">
        <tr class="{+nextRowClass()+}">
          <td class="label">Extends:</td><td>
					{+
						data.augments
						.sort()
						.map(
							function($) { return new Link().toSymbol($); }
						)
						.join(", ")
					+}</td></tr>
				</if>
    		<if test="!data.isBuiltin()">{# isn't defined in any file #}
	  			<tr class="{+nextRowClass()+}">
            <td class="label">Defined in:</td>
            <td>{+new Link().toSrc(data.srcFile)+}</td>
          </tr>
  			</if>
      </table>

  	<div id="content-body">
		<div id="index">
			{+publish.classesIndex+}
		</div>

<!-- ============================== class summary ========================== -->
    <if test="data.classDesc.length">
      <h1 class="title">Overview</h1>
			<p class="description">
				{+resolveLinks(data.classDesc)+}
			</p>
			<if test="data.see.length">
				<dl class="detailList">
				<dt class="heading">See:</dt>
				<for each="item" in="data.see">
				<dt>{+ new Link().toSymbol(item) +}</dt>
				</for>
				</dl>
			</if>
      <if test="data.requires.length">
        <dl class="detailList">
				<dt class="heading">Requires:</dt>
				<for each="item" in="data.requires">
				<dt>{+resolveLinks(item)+}</dt>
				</for>
				</dl>
			</if>
			<if test="data.params.length">
				<dl class="detailList">
				<dt class="heading">Parameters:</dt>
				<for each="item" in="data.params">
					<dt>
						{+((item.type)?"<span class=\"light fixedFont\">("+(new Link().toSymbol(item.type))+")</span> " : "")+}<b>{+item.name+}</b>
						<if test="item.isOptional"><i>Optional<if test="item.defaultValue">, Default: {+item.defaultValue+}</if></i></if>
					</dt>
					<dd>{+resolveLinks(item.desc)+}</dd>
				</for>
				</dl>
			</if>
			<if test="data.example.length">
			<for each="example" in="data.example">
			<p class="code"><code>{+highlight(example)+}</code></p>
			</for>
			</if>
			<if test="data.version.length">
				<dl class="detailList">
				<dt class="heading">Version:</dt>
				<dt>{+data.version+}</dt>
				</dl>
			</if>
    </if>


<!-- ============================== constructor summary ====================
			<if test="!data.isBuiltin() && (data.isNamespace || data.is('CONSTRUCTOR'))">
			<table class="summaryTable" cellspacing="0" summary="A summary of the constructor documented in the class {+data.alias+}.">
				<caption>{+classType+}Summary</caption>
				<thead>
					<tr>
						<th scope="col">Constructor Attributes</th>
						<th scope="col">Constructor Name and Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="attributes">{!
							if (data.isPrivate) output += "&lt;private&gt; ";
							if (data.isInner) output += "&lt;inner&gt; ";
						!}&nbsp;</td>
						<td class="nameDescription" {!if (data.comment.getTag("hilited").length){output += 'style="color: red"'}!}>
							<div class="fixedFont">
								<b>{+ new Link().toSymbol(data.alias).inner('constructor')+}</b><if test="classType != 'Namespace '">{+ makeSignature(data.params) +}</if>
							</div>
							<div class="description">{+resolveLinks(summarize(data.desc))+}</div>
						</td>
					</tr>
				</tbody>
			</table>
			</if>-->

<!-- ============================== properties summary ===================== -->
			<if test="data.properties.length">
				{! var ownProperties = data.properties.filter(function($){return $.memberOf == data.alias && !$.isNamespace}).sort(makeSortby("name")); !}
				<if test="ownProperties.length">
        <h1 class="title">Field Summary</h1>
          <table>
					<for each="member" in="ownProperties">
						<tr class="nameDescription">
              <td class="fixedFont right">+</td>
              <td class="fixedFont">
                <if test="member.isStatic && member.memberOf != '_global_'">{+member.memberOf+}.</if><b>{+new Link().toSymbol(member.alias).withText(member.name)+}</b></td>
            </tr>
					</for>
          </table>
				</if>
				
				<if test="data.inheritsFrom.length">
				<dl class="inheritsList">
				{!
					var borrowedMembers = data.properties.filter(function($) {return $.memberOf != data.alias});
					
					var contributers = [];
					borrowedMembers.map(function($) {if (contributers.indexOf($.memberOf) < 0) contributers.push($.memberOf)});
					for (var i = 0, l = contributers.length; i < l; i++) {
						output +=
							"<dt>Fields borrowed from class "+new Link().toSymbol(contributers[i])+": </dt>"
							+
							"<dd>" +
							borrowedMembers
							.filter(
								function($) { return $.memberOf == contributers[i] }
							)
							.sort(makeSortby("name"))
							.map(
								function($) { return new Link().toSymbol($.alias).withText($.name) }
							)
							.join(", ")
							+
							"</dd>";
					}
				!}
				</dl>
				</if>
			</if>

<!-- ============================== methods summary ======================== -->
			<if test="data.methods.length">
				{! var ownMethods = data.methods.filter(function($){return $.memberOf == data.alias  && !$.isNamespace}).sort(makeSortby("name")); !}
				<if test="ownMethods.length">
        <h1 class="title">Method Summary</h1>
          <table>
					<for each="member" in="ownMethods">
						<tr class="nameDescription">
              <td><span class="fixedFont"><if test="member.type"><span class="light">({+new Link().toSymbol(member.type)+})</span></if>
              <b>{+new Link().toSymbol(member.alias).withText(member.name)+}</b>{+makeSignature(member.params)+}</td>
            </tr>
					</for>
          </table>
				</if>
				
				<if test="data.inheritsFrom.length">
				<dl class="inheritsList">
				{!
					var borrowedMembers = data.methods.filter(function($) {return $.memberOf != data.alias});
					var contributers = [];
					borrowedMembers.map(function($) {if (contributers.indexOf($.memberOf) < 0) contributers.push($.memberOf)});
					for (var i = 0, l = contributers.length; i < l; i++) {
						output +=
							"<dt>Methods borrowed from class "+new Link().toSymbol(contributers[i])+": </dt>"
							+
							"<dd>" +
							borrowedMembers
							.filter(
								function($) { return $.memberOf == contributers[i] }
							)
							.sort(makeSortby("name"))
							.map(
								function($) { return new Link().toSymbol($.alias).withText($.name) }
							)
							.join(", ")
							+
							"</dd>";
					}
				
				!}
				</dl>
				</if>
			</if>
<!-- ============================== events summary ======================== -->
			<if test="data.events.length">
				{! var ownEvents = data.events.filter(function($){return $.memberOf == data.alias  && !$.isNamespace}).sort(makeSortby("name")); !}
				<if test="ownEvents.length">
        <h1 class="title">Event Summary</h2>
          <table>
					<for each="member" in="ownEvents">
						<tr class="nameDescription">
              <td><span class="fixedFont"><if test="member.type"><span class="light">({+new Link().toSymbol(member.type)+})</span></if>
              <b>{+new Link().toSymbol(member.alias).withText(member.name)+}</b>{+makeSignature(member.params)+}</td>
            </tr>
					</for>
          </table>
				</if>
				
				<if test="data.inheritsFrom.length">
				<dl class="inheritsList">
				{!
					var borrowedMembers = data.events.filter(function($) {return $.memberOf != data.alias});
					var contributers = [];
					borrowedMembers.map(function($) {if (contributers.indexOf($.memberOf) < 0) contributers.push($.memberOf)});
					for (var i = 0, l = contributers.length; i < l; i++) {
						output +=
							"<dt>Events borrowed from class "+new Link().toSymbol(contributers[i])+": </dt>"
							+
							"<dd>" +
							borrowedMembers
							.filter(
								function($) { return $.memberOf == contributers[i] }
							)
							.sort(makeSortby("name"))
							.map(
								function($) { return new Link().toSymbol($.alias).withText($.name) }
							)
							.join(", ")
							+
							"</dd>";
					}
				
				!}
				</dl>
				</if>
			</if>

<!-- ============================== field details ========================== -->		
			<if test="defined(ownProperties) && ownProperties.length">
				<h1 class="title">Field Detail</h1>
				<for each="member" in="ownProperties">
          <div>
             <a name="{+Link.symbolNameToLinkName(member)+}"> </a>
             <h3><if test="member.isStatic && member.memberOf != '_global_'"><span class="light">{+member.memberOf+}.</span></if>{+member.name+}</h3>
					</div>
					<div class="description">
						{+resolveLinks(member.desc)+}
					</div><br/>
					
					<if test="member.example.length">
					<for each="example" in="member.example">
					<span class="code"><code>{+highlight(example)+}</code></span>
					</for>
					</if>

						<if test="member.deprecated">
							<dl class="detailList">
							<dt class="heading">Deprecated:</dt>
							<dt>
								{+ member.deprecated +}
							</dt>
							</dl>
						</if>
						<if test="member.since">
							<dl class="detailList">
							<dt class="heading">Since:</dt>
								<dt>{+ member.since +}</dt>
							</dl>
						</if>
						<if test="member.see.length">
							<dl class="detailList">
							<dt class="heading">See:</dt>
							<for each="item" in="member.see">
							<dt>{+ new Link().toSymbol(item) +}</dt>
							</for>
							</dl>
						</if>
						<if test="member.defaultValue">
							<dl class="detailList">
							<dt class="heading">Default Value:</dt>
							<dt>
								{+resolveLinks(member.defaultValue)+}
							</dt>
							</dl>
						</if>

             <div class="signature">
               + <if test="member.type"><span class="light">({+new Link().toSymbol(member.type)+})</span></if> <if test="member.isStatic && member.memberOf != '_global_'"><span class="light">{+member.memberOf+}.</span></if><b>{+member.name+}</b></h3>
             </div>

						<if test="member.srcFile != data.srcFile">
							<br />
							<i>Defined in: </i> {+new Link().toSrc(member.srcFile)+}.
						</if>
						<if test="member.author"><br /><i>Author: </i>{+member.author+}.</if>


					<if test="!$member_last"><hr /></if>
				</for>
			</if>

<!-- ============================== method details ========================= -->		
			<if test="defined(ownMethods) && ownMethods.length">
				<h1 class="title">Method Detail</h1>
				<for each="member" in="ownMethods">
					<a name="{+Link.symbolNameToLinkName(member)+}"> </a>
          <div>
             <a name="{+Link.symbolNameToLinkName(member)+}"> </a>
             <h3><if test="member.isStatic && member.memberOf != '_global_'"><span class="light">{+member.memberOf+}.</span></if>{+member.name+}{+makeSignature(member.params)+}</h3>

             <div class="signature">
               + <if test="member.type"><span class="light">({+new Link().toSymbol(member.type)+})</span></if> <if test="member.isStatic && member.memberOf != '_global_'"><span class="light">{+member.memberOf+}.</span></if><b>{+member.name+}</b>{+makeSignature(member.params)+}
             </div><br/>

						<if test="member.params.length">
							<dl class="detailList">
							<dt class="heading">Parameters:</dt>
							<for each="item" in="member.params">
								<dt>
									{+((item.type)?"<span class=\"light fixedFont\">("+(new Link().toSymbol(item.type))+")</span> " : "")+}<b>{+item.name+}</b>
									<if test="item.isOptional"><i>Optional<if test="item.defaultValue">, Default: {+item.defaultValue+}</if></i></if>
								</dt>
								<dd>{+resolveLinks(item.desc)+}</dd>
							</for>
							</dl>
						</if>
						<if test="member.deprecated">
							<dl class="detailList">
							<dt class="heading">Deprecated:</dt>
							<dt>
								{+member.deprecated+}
							</dt>
							</dl>
						</if>
						<if test="member.since">
							<dl class="detailList">
							<dt class="heading">Since:</dt>
								<dt>{+ member.since +}</dd>
							</dl>
							</dl>
						</if>
						<if test="member.exceptions.length">
							<dl class="detailList">
							<dt class="heading">Throws:</dt>
							<for each="item" in="member.exceptions">
								<dt>
									{+((item.type)?"<span class=\"light fixedFont\">{"+(new Link().toSymbol(item.type))+"}</span> " : "")+} <b>{+item.name+}</b>
								</dt>
								<dd>{+resolveLinks(item.desc)+}</dd>
							</for>
							</dl>
						</if>
						<if test="member.returns.length">
							<dl class="detailList">
							<dt class="heading">Returns:</dt>
							<for each="item" in="member.returns">
								<dt>{+((item.type)?"<span class=\"light fixedFont\">("+(new Link().toSymbol(item.type))+")</span> " : "")+}{+resolveLinks(item.desc)+}</dt>
							</for>
							</dl>
						</if>
						<if test="member.requires.length">
							<dl class="detailList">
							<dt class="heading">Requires:</dt>
							<for each="item" in="member.requires">
								<dt>{+ resolveLinks(item) +}</dt>
							</for>
							</dl>
						</if>
             <div class="description">
				     {+resolveLinks(member.desc)+}
						 <if test="member.author"><br /><i>Author: </i>{+member.author+}.</if>
             </div>

						<if test="member.see.length">
							<dl class="detailList">
							<dt class="heading">See:</dt>
							<for each="item" in="member.see">
								<dt>{+ new Link().toSymbol(item) +}</dt>
							</for>
							</dl>
						</if>
					

					</div>
					<if test="member.example.length">
					<for each="example" in="member.example">
					<p class="code"><code>{+highlight(example)+}</code></p>
					</for>
					</if>
				 <if test="member.srcFile != data.srcFile">
					   <br />
					   <i>Defined in: </i> {+new Link().toSrc(member.srcFile)+}.
				 </if>
					
					<if test="!$member_last"><hr /></if>
				</for>
			</if>
			
<!-- ============================== event details ========================= -->		
			<if test="defined(ownEvents) && ownEvents.length">
				<h1 class="title">Event Detail</h1>
				<for each="member" in="ownEvents">
					<a name="{+Link.symbolNameToLinkName(member)+}"> </a>
          <div>
             <a name="{+Link.symbolNameToLinkName(member)+}"> </a>
             <h3><if test="member.isStatic && member.memberOf != '_global_'"><span class="light">{+member.memberOf+}.</span></if>{+member.name+}{+makeSignature(member.params)+}</h3>

             <div class="signature">
               + <if test="member.type"><span class="light">({+new Link().toSymbol(member.type)+})</span></if> <if test="member.isStatic && member.memberOf != '_global_'"><span class="light">{+member.memberOf+}.</span></if><b>{+member.name+}</b>{+makeSignature(member.params)+}
             </div><br/>

						<if test="member.params.length">
							<dl class="detailList">
							<dt class="heading">Parameters:</dt>
							<for each="item" in="member.params">
								<dt>
									{+((item.type)?"<span class=\"light fixedFont\">("+(new Link().toSymbol(item.type))+")</span> " : "")+}<b>{+item.name+}</b>
									<if test="item.isOptional"><i>Optional<if test="item.defaultValue">, Default: {+item.defaultValue+}</if></i></if>
								</dt>
								<dd>{+resolveLinks(item.desc)+}</dd>
							</for>
							</dl>
						</if>
						<if test="member.deprecated">
							<dl class="detailList">
							<dt class="heading">Deprecated:</dt>
							<dt>
								{+member.deprecated+}
							</dt>
							</dl>
						</if>
						<if test="member.since">
							<dl class="detailList">
							<dt class="heading">Since:</dt>
								<dt>{+ member.since +}</dd>
							</dl>
							</dl>
						</if>
						<if test="member.exceptions.length">
							<dl class="detailList">
							<dt class="heading">Throws:</dt>
							<for each="item" in="member.exceptions">
								<dt>
									{+((item.type)?"<span class=\"light fixedFont\">{"+(new Link().toSymbol(item.type))+"}</span> " : "")+} <b>{+item.name+}</b>
								</dt>
								<dd>{+resolveLinks(item.desc)+}</dd>
							</for>
							</dl>
						</if>
						<if test="member.returns.length">
							<dl class="detailList">
							<dt class="heading">Returns:</dt>
							<for each="item" in="member.returns">
								<dt>{+((item.type)?"<span class=\"light fixedFont\">("+(new Link().toSymbol(item.type))+")</span> " : "")+}{+resolveLinks(item.desc)+}</dt>
							</for>
							</dl>
						</if>
						<if test="member.requires.length">
							<dl class="detailList">
							<dt class="heading">Requires:</dt>
							<for each="item" in="member.requires">
								<dt>{+ resolveLinks(item) +}</dt>
							</for>
							</dl>
						</if>
             <div class="description">
				     {+resolveLinks(member.desc)+}
						 <if test="member.author"><br /><i>Author: </i>{+member.author+}.</if>
             </div>

						<if test="member.see.length">
							<dl class="detailList">
							<dt class="heading">See:</dt>
							<for each="item" in="member.see">
								<dt>{+ new Link().toSymbol(item) +}</dt>
							</for>
							</dl>
						</if>
					

					</div>
					<if test="member.example.length">
					<for each="example" in="member.example">
					<p class="code"><code>{+highlight(example)+}</code></p>
					</for>
					</if>
				 <if test="member.srcFile != data.srcFile">
					   <br />
					   <i>Defined in: </i> {+new Link().toSrc(member.srcFile)+}.
				 </if>
					
					<if test="!$member_last"><hr /></if>
				</for>
			</if>
			
			<hr />
		</div>

		
<!-- ============================== footer ================================= -->
		<div class="fineprint" style="clear:both">
			<if test="JSDOC.opt.D.copyright">&copy;{+JSDOC.opt.D.copyright+}<br /></if>
			Documentation generated by <a href="http://www.jsdoctoolkit.org/" target="_blank">JsDoc Toolkit</a> {+JSDOC.VERSION+} on {+new Date()+}
		</div>
	</body>
</html>
