<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset={+IO.encoding+}" />
  <meta name="generator" content="JsDoc Toolkit" />

  <title>JsDoc Reference - OXJS</title>
  <link rel="stylesheet" type="text/css" href="static/default.css"></link>
  <link rel="stylesheet" type="text/css" href="static/doc.css"></link>
</head>

<body class="doc">
  <div id="header">
    <h1>OXJS</h1>
    <span class="caption">OnSIP XMPP-API JavaScript SDK</span>
  </div>
  <div id="module">
    <h1>About</h1>
  </div>
	<div id="index">
		{+publish.classesIndex+}
	</div>
  <div id="content">
    <br/>
<p>The OnSIP XMPP Javascript library (OXJS) is a fully functional
implementation of the OnSIP XMPP-API.  The <a href="http://my.onsip.com">my.onsip.com</a> interface utilizes OXJS on top of <a href="http://code.stanziq.com/strophe">Strophe</a> for it's XMPP &amp; XMPP-API connectivity.</p>

<h1>Overview</h1>
<p>This library is <b>NOT</b> a client side BOSH implementation. It wraps a BOSH connection to facilitate the process of subscribing to the OnSIP XMPP pubsub services and making the OnSIP specific Ad-Hoc command calls.</p>

<h1>Examples</h1>
<p>For the examples to work properly they must be served from same domain as the bosh resource they are trying to connect to in order to avoid cross domain issues. If you're using Apache, this means adding:</p>

<p class="code">
  <code>
    ProxyPass /http-bind http://location/to/your/bosh/http-bind<br/>
    ProxyPassReverse /http-bind http://location/to/your/bosh/http-bind
  </code>
</p>

<p>to your .conf file, and restarting Apache. If you go to http://localhost/http-bind, you should see something like "You really don't look like a BOSH client to me... what do you want?". Now, start up the example on your localhost, and check it out!</p>
  </div>

  <div class="fineprint" style="clear:both">
    <if test="JSDOC.opt.D.copyright">&copy;{+JSDOC.opt.D.copyright+}<br/></if>
      Documentation generated by <a href="http://code.google.com/p/jsdoc-toolkit/" target="_blankt">JsDoc Toolkit</a> {+JSDOC.VERSION+} on {+new Date()+}
  </div>
</body>
</html>
